doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap")
      link(rel="stylesheet", href="css/main.css")
      title Document
   body.body 
      include components/row.pug
      header.header 
         .container 
            h2 Результати навчання на ФІОТ
            h3 Баранік Артур

      section.main 
         .container 
            .titles.row 
               .titles__item.column
                  | Дисципліна для перезарахування (вивчена)
               .titles__item.column.column_grade 
                  | Оцінка
            .content
               +row("Історія України", "77")
               +row("Комп’ютерна дискретна математика", "78")
               +row("Лінійна алгебра та аналітична геометрія Математичний аналіз-1 Диференціальні обчислення.", "60")
               +row("Фізика (вибрані розділи)", "60")
               +row("Теорія алгоритмів", "92")
               +row("Основи програмування-1. Організація програм", "65")
               +row("Українська мова за професійним спрямуванням", "60")
               +row("Іноземна мова-1. Вступ до загальнотехнічної іноземної мови", "76")
               +row("Фізичне виховання", "84")
               +row("Математичний аналіз-2. Інтегральні обчислення", "60")
               +row("Дискретні структури", "67")
               +row("Основи програмування - 2. Програмування структурованих даних", "72")
               +row("Архітектура комп’ютера", "60")
               +row("Теорія ймовірності та математична статистика ", "63")
               +row("Бази даних - 1 Проектування баз даних", "82")
               +row("Бази даних 3 (курсова робота)", "83")
               +row("Компоненти програмної інженерії – 2. Проектування та конструювання програмного забезпечення", "60")
               +row("Операційні системи Технології розроблення системних програм", "60")
               +row("Психологія конфлікту", "76")
               +row("Основи Web-програмування", "75")
               +row("Іноземна мова-2. Іноземна мова загальнотехнічного спрямування", "60")
               +row("Компоненти програмної інженерії - 3. Архітектура програмного забезпечення", "65")
               +row("Фізичне виховання", "60")
               +row("Технології створення програмного забезпечення для мобільних платформ", "71")
               

      script(src="js/jquery.min.js") 
      script(src="js/main.js") 